@use "../abstracts" as *;

.intro {
  margin-top: rem(40);
  text-align: center;

  @include breakpoint-up("very-small") {
    flex-basis: rem(450);
    margin: 0;
    text-align: left;
  }
}

.intro__title {
  margin-bottom: rem(24);
  color: $very-dark-desaturated-violet;
  font-size: rem(36);
  font-weight: 500;

  @include breakpoint-up("very-small") {
    font-size: rem(40);
  }
}

.intro__description {
  max-width: rem(500);
  color: $dark-grayish-violet;
}
