@use '../abstracts' as *;

/*------------------------------------*\
  #RESET
\*------------------------------------*/

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// Screen Reader Class
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: $selection-bg;
  color: $white;
}

::-moz-selection {
  background-color: $selection-bg;
  color: $white;
}

html {
  font-size: $default-html-font-size;
}

/*------------------------------------*\
  #BODY-BACKGROUND
\*------------------------------------*/

body {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: rgb(250, 250, 250);
  padding: rem(60) rem(24);
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
  font-size: rem(16);
}

/* General Styles for the background */
body::after,
body::before {
  content: "";
  position: absolute;
  z-index: -1;
}

/* Styles for gradient background */
body::before {
  top: -#{rem(325)};
  left: -#{rem(220)};
  border-radius: 0 0 $border-radius $border-radius;
  background-image:
    linear-gradient(
      to bottom,
      $light-magenta,
      $light-violet
    );
  height: rem(800);
  width: rem(400);
  
  @include breakpoint-up("tiny") {
    height: rem(860);
    width: rem(500);
  }
  
  @include breakpoint-up("small") {
    height: rem(920);
    width: rem(590);
  }
  
  @include breakpoint-up("medium") {
    height: rem(1024);
  }
}

/* Styles for bottom right corner background */
body::after {
  right: 0;
  bottom: 0;
  border-radius: $border-radius 0 0 0;
  background-color: $light-grayish-violet;
  height: rem(500);
  width: rem(180);
  
  @include breakpoint-up("tiny") {
    height: rem(560);
    width: rem(280);
  }
  
  @include breakpoint-up("small") {
    height: rem(630);
    width: rem(380);
  }
  
  @include breakpoint-up("medium") {
    height: rem(500);
    width: rem(340);
  }
}


/*------------------------------------*\
  #ENDOF-BODY-BACKGROUND
\*------------------------------------*/

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  
  @include breakpoint-up("very-small") {
    flex-direction: row-reverse;
    gap: rem(120);
    max-width: rem(1024);
  }
}

h1 {
  margin: 0;
}

p,
blockquote {
  line-height: 1.6;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}