// Default style that I currently use on this project
$default-html-font-size: 100% !default;
$black: rgb(17, 17, 17) !default;
$white: rgb(242, 242, 242) !default;
$selection-bg: rgb(136, 56, 255) !default;

// Border Radius
$border-radius: 100em;

// Primary Colors

/// FOR: Text
$pale-violet: hsl(276, 100%, 81%);
$moderate-violet: hsl(276, 55%, 52%);
$desaturated-dark-violet: hsl(271, 15%, 43%);
$grayish-blue: hsl(206, 6%, 79%);
$very-dark-desaturated-violet: hsl(271, 36%, 24%);
$dark-grayish-violet: hsl(270, 7%, 64%);

/// FOR: Gradients
$light-magenta: hsl(293, 100%, 63%);
$light-violet: hsl(264, 100%, 61%);

// Secondary Colors
$pure-white: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 20%, 96%);
$very-light-magenta: hsl(289, 100%, 72%);


// Breakpoints
// Note: If you user font-size setting is 16px, then this 'em' is equal to this in 'px'
$breakpoints-up: (
  "tiny": "50em", // 800px
  "very-small": "61.25em", // 980px
  "small": 78.75em // 1260px
);

$breakpoints-down: (
  "tiny": "49.9375em", // 799px
  "very-small": "61.1875em", // 979px
  "small": "78.6875em" // 1259px
);